<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    	http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<bean class="com.netto.server.bean.ServiceBean">
		 <property name="refName" value="helloServiceImpl"/>
		 <property name="serviceName" value="helloService"/>
		 <property name="timeout" value="2000"/>
	</bean>
	
	<bean class="com.netto.server.NettyServer">
		<property name="serviceApp" value="${netto.serviceApp}"/>	
		<property name="serviceGroup" value="${netto.serviceGroup}"/>
		<property name="port" value="${netto.port}"/>	
		<property name="backlog" value="${netto.backlog}"/>		
	</bean>
	
</beans>